.container{
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 40%;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.image{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
}

p {
    font-size: 20px;
    padding: 20px;
}